/*exemplos de cores*/
#predefinidas{
    color: blue;
}

#rgb{
    color:rgb(159, 155, 16);
}

#rgba{
    background-color: rgba(130, 67, 150, 0.7);
}

#hex{
    color: #fa2c47;
}

#hsl{
    color: hsl(240, 45%, 64%);
}

#hsla{
    color: hsla(240, 45%, 64%, 0.48);
}

/*exemplos de imagens*/
.object-fit{
    width: 200px;
    height: 300px;
    border: solid 2px red;
}

img{
    width: 100%;
    height: 100%;
    object-position: 30px 80%;
}

#fill{
    object-fit: fill;
}

#contain{
    object-fit: contain;
}

#cover{
    object-fit: cover;
}

#none{
    object-fit: none;
}

#scale-down{
    object-fit: scale-down;
}

/*fundo*/
.fundo{
    width: 300px;
    height: 300px;
    background-color: #de3f45;
    background-image: url('https://s2-techtudo.glbimg.com/SSAPhiaAy_zLTOu3Tr3ZKu2H5vg=/0x0:1024x609/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2022/c/u/15eppqSmeTdHkoAKM0Uw/dall-e-2.jpg');
    background-size: cover;
}