/*exemplos de cores*/
#predefinidas{
    color: blue;
}

#rgb{
    color:rgb(159, 155, 16);
}

#rgba{
    background-color: rgba(130, 67, 150, 0.7);
}

#hex{
    color: #fa2c47;
}

#hsl{
    color: hsl(240, 45%, 64%);
}

#hsla{
    color: hsla(240, 45%, 64%, 0.48);
}